*{
    margin: 0;
    padding: 0;
    font-family: inter, sans-serif;
}

nav{
    display:grid;
    grid-template-columns:auto 1fr auto;
    align-items: center;
    background-color:white;
    padding: 16px 80px;
    gap: 20px;
}


ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 35px;
    font-size: 16px;
    font-weight: 300;

}
ul a{
    text-decoration: none;
    color:#575757;
}
.logo{
    display:flex;
    align-items: center;
    height: auto;
    width: 18px;
    gap: 10px;
    align-items: center;
}
.btn-banner{padding: 1rem 2.5rem;
    font-size: 1rem;
    font-weight: 500;
}

.btn-nav {padding:0.7rem 2rem;
    font-size: 0.7rem;
    font-weight: 600;
}

.button-style {
    display:flex;
    justify-content: flex-end;
    background-color: #1D4ED8;
    color: #fff;
    border-radius:8px;
    border: none;
}

header
{ background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(11, 11, 11, 0.5)),url('./assets/banner.jpg');
    height:90vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:right;
    color:white;
    display:grid;
    justify-items:center;
    align-items:center;
}
.banner{
    display:grid;
    justify-items:center;
    align-items:center;
    gap:20px;
}
.banner h1{
    display:grid;
    justify-items:center;
    align-items:center;
    font-size: 60px;
}

.banner p{
    text-align:center;
    width:100%;
    max-width:580px;
    margin:0 auto;
    font-weight: 200;
}
