*{
    margin: 0;
    padding: 0;
    font-family: inter, sans-serif;
}

section{
    padding:70px 40px 60px 120px;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    padding: 15px 75px;
    gap: 20px;
}


nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 35px;
    font-size: 1rem;
    font-weight: 300;

}
nav ul a{
    text-decoration: none;
    color:#575757;
}

.btn-banner{padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.btn-nav {padding:0.7rem 2rem;
    font-size: 1rem;
    font-weight: 600;
}

.btn-pricing{
    padding: 0.6rem 6rem;
    font-size:1rem;
    font-weight:600;
    background-color: #fff !important;
    color: #1D4ED8 !important;
    border:2px solid #1D4ED8 !important;
}

.btn-pro{
    padding: 0.6rem 8rem;
    font-size:1rem;
    font-weight:600;

}

.btn-team{
    padding: 0.6rem 7rem;
    font-size:1rem;
    font-weight:600;
    background-color: #fff !important;
    color: #080808 !important;
    border:2px solid #444445 !important;
}

.button-style {
    display:flex;
    justify-content: flex-end;
    background-color: #1D4ED8;
    color: #fff;
    border-radius:8px;
    border: none;
}

header
{ background-image:linear-gradient(45deg, rgba(16, 3, 1, 0.75) 10%,rgba(13, 12, 12, 0.8) 57%, transparent 60%, transparent 80%), url('./assets/banner.jpg');
    height:90vh;
    width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    color:white;
    display:grid;
    justify-items:center;
    align-items:center;
    position:relative;
}
.banner{
    display:grid;
    justify-items:center;
    align-items:center;
    gap:20px;
}
.banner h1{
    display:grid;
    justify-items:center;
    align-items:center;
    font-size: 60px;
}

.banner p{
    text-align:center;
    width:100%;
    max-width:580px;
    margin:0 auto;
    font-weight: 200;
}
header button {
    align-self: end;  
    margin-bottom: 100px;   
}

.speakers h2{
    text-align:center;
    font-size: 40px;

}
.grid-container{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(2, 1fr);
    gap: 30px;
}
small{
    font-size: 12px;
    font-weight:bold;
}
.grid-item{
    border:1px solid rgb(206, 204, 204);
    border-radius: 10px;
    padding:0px 0px 14px 0px;
    overflow:hidden;
    position:relative;
}
.grid-item p,h3{
    padding:20px 0px 5px 20px;
}
.grid-item img{
    width:100%;
    height:auto;
    object-fit: cover;
   
}


#message{
    text-align: center;
    padding:10px;
    color:#575757;
    font-size:15px;
    font-weight:400;
}
.pricing h1{
    text-align:center;
    font-size:40px;
}

.offerings {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:24px;
}

.standard ul li::marker{
    color:rgb(85, 85, 237);

}

.standard{
    padding:40px 20px 40px 40px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 10px;

}
.standard h2,.pro h2, .team h2{
    font-size:50px;

}

.standard p, .team p{
    color:#6c6b6b;
    font-weight: 400;
}

.pro{
    padding:40px 20px 40px 40px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 10px;
    background-color:#0D1B2A;
}

.team{
    padding:40px 20px 40px 40px;
    border: 1px solid rgb(205, 203, 203);
    border-radius: 10px;
}

.team ul li::marker{
    color:rgb(85, 85, 237);

}

.pro ul li::marker{
    color:rgb(85, 85, 237);

}

.standard,.pro,.team{
    display:flex;
    flex-direction: column;
}

.standard button,.pro button,.team button{
    margin-top: auto;
    align-self:center;
    margin-bottom:2px;
}